_build/
*~
.DS_Store
.directory
front_end_processed_output.log
log*.smt2
.vscode
smt-encodings/*
benchmarks.csv
raven/test/bugs
raven/test/scratch
raven/bench_results/*
raven/test/concurrent/implementations
raven/test/concurrent/templates/give-up-lock_wip.rav
raven/test/iterated-star/linked_list_wip.rav
raven/test/linked-lists
raven/test/rec-preds/list_predicates_wip.rav
raven/test/rec-preds/list_predicates2_wip.rav
raven/raven.tar
.git
.git/*
.gitignore
.github